<p>Submitted new contact with data:</p>
<p>Name: {{ contact.name }}</p>
<p>Surname: {{ contact.surname }}</p>
<p>Email: {{ contact.email }}</p>
<p>Day of birth: {{ contact.dayOfBirth|date('Y-m-d') }}</p>
<p>Process data : {{ contact.processData ? 'Yes' : 'No' }}</p>
<p>Departments: </p>
{% for department in contact.departments %}
    <li>{{ department.name }}</li>
{% endfor %}
